.banner-slider{
    .slick-prev {
        left: 20px !important;
        z-index: 8;
    }

    .slick-next {
        right: 20px !important;
        z-index: 8;
    }
}
// .slick{
//     &-next{

//     }
//     &-prev{

//     }
// }
.slider-img-box {
    height: 70vh;
    padding: 0 0;
     img {
        width: 100%;
        overflow: hidden;
    }

}

.slick-prev:before , .slick-next:before {
    color: black !important;
    font-size: 40px !important;
    background: transparent !important;
}